brands_information/index.txt
brands_information/run.txt

brands_information/json_extractor/brands.json
brands_information/json_extractor/gyftr_merged.json
brands_information/json_extractor/hdfc_merged.json
brands_information/json_extractor/merge_jsons.py
brands_information/json_extractor/process_gyftr.py
brands_information/json_extractor/topbrands.json
brands_information/json_extractor/gyftr/extract_json_from_html.py
brands_information/json_extractor/gyftr/gyftr_prompt.md
brands_information/json_extractor/gyftr/process_gyftr.py
brands_information/json_extractor/gyftr/html/dining.html
brands_information/json_extractor/gyftr/html/e-com-online.html
brands_information/json_extractor/gyftr/html/electronics.html
brands_information/json_extractor/gyftr/html/entertainment.html
brands_information/json_extractor/gyftr/html/fashion.html
brands_information/json_extractor/gyftr/html/gaming.html
brands_information/json_extractor/gyftr/html/gifting.html
brands_information/json_extractor/gyftr/html/grocery.html
brands_information/json_extractor/gyftr/html/health.html
brands_information/json_extractor/gyftr/html/travel.html
brands_information/json_extractor/gyftr/json/dining.json
brands_information/json_extractor/gyftr/json/e-com-online.json
brands_information/json_extractor/gyftr/json/electronics.json
brands_information/json_extractor/gyftr/json/entertainment.json
brands_information/json_extractor/gyftr/json/fashion.json
brands_information/json_extractor/gyftr/json/gaming.json
brands_information/json_extractor/gyftr/json/gifting.json
brands_information/json_extractor/gyftr/json/grocery.json
brands_information/json_extractor/gyftr/json/health.json
brands_information/json_extractor/gyftr/json/travel.json

brands_information/json_extractor/hdfc/extract_json_from_html.py
brands_information/json_extractor/hdfc/hdfc_prompt.md
brands_information/json_extractor/hdfc/html files/hdfc_accessories.html
brands_information/json_extractor/hdfc/html files/hdfc_beauty.html
brands_information/json_extractor/hdfc/html files/hdfc_electronics.html
brands_information/json_extractor/hdfc/html files/hdfc_entertainment.html
brands_information/json_extractor/hdfc/html files/hdfc_fashion.html
brands_information/json_extractor/hdfc/html files/hdfc_gifting.html
brands_information/json_extractor/hdfc/html files/hdfc_groceries.html
brands_information/json_extractor/hdfc/html files/hdfc_health-wellness.html
brands_information/json_extractor/hdfc/html files/hdfc_luxury.html
brands_information/json_extractor/hdfc/html files/hdfc_online.html
brands_information/json_extractor/hdfc/html files/hdfc_restaurants.html
brands_information/json_extractor/hdfc/html files/hdfc_travel.html
brands_information/json_extractor/hdfc/json files/hdfc_accessories.json
brands_information/json_extractor/hdfc/json files/hdfc_beauty.json
brands_information/json_extractor/hdfc/json files/hdfc_electronics.json
brands_information/json_extractor/hdfc/json files/hdfc_entertainment.json
brands_information/json_extractor/hdfc/json files/hdfc_fashion.json
brands_information/json_extractor/hdfc/json files/hdfc_gifting.json
brands_information/json_extractor/hdfc/json files/hdfc_groceries.json
brands_information/json_extractor/hdfc/json files/hdfc_health-wellness.json
brands_information/json_extractor/hdfc/json files/hdfc_luxury.json
brands_information/json_extractor/hdfc/json files/hdfc_online.json
brands_information/json_extractor/hdfc/json files/hdfc_restaurants.json
brands_information/json_extractor/hdfc/json files/hdfc_travel.json
